@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.auth {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/bg-vaio.png') no-repeat center center / cover;

    .inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 20px;

        .auth-box {
            width: 100%;

            nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .auth-form {
            margin: $space-lg 0;
            width: 100%;

            .input-group {
                padding: $space-sm 0;
            }

            .auth-btn-wrap {
                margin-top: $space-lg;
                display: flex; 
                justify-content: flex-end; 
                gap: $space-md;

                @include mobile {
                    flex-direction: column-reverse;
                }

                > div {
                    @include mobile {
                        width: 100%;
                    }
                    a {
                        width: 100%;
                        display: block;
                    }
                    button {
                        width: 100%;
                    }
                }

                .btn.primary {
                    width: 25%;
                    @include mobile {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.error-text {
    display: flex;
    margin-top: $space-sm;
    margin-right: $space-md;
    border: 1px solid $warning;
    border-radius: 20px;
    gap: $btn-gap;
    padding: $btn-padding-y $btn-padding-x;
    
    @include mobile {
        margin-right: 0;
        font-size: 14px;
    }
}